body {
    /* background-color: cadetblue; */
    background-image: url(img/background.png);
    /* background-image: linear-gradient(135deg, #c0c080 0%, #408080 100%); */
    justify-content: center;
    text-align: center;
}   

.ball {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ball-style {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: black;
    margin-top: 100px;
    border-radius: 50%;
    text-align: center;
    box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px black;
    background: radial-gradient(at top left, white 5%, black 40%);
}

#triangle{
    width: 0;
    height: 0;
    border-top: 200px solid rgba(150, 190, 168, 0.904);
    border-right: 150px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 150px solid transparent;
    margin-top: 140px;
    margin-left: 50px;
    transition: all 2s;
} 

img {
    display: flex;
    width: 200px;
    margin-top: -210px;
    margin-left: -100px;
    
}

.question {
    margin: 0 auto;
    margin-top: 100px;
}

#input {
    display: flex;
    flex-wrap: nowrap;
    background-color: darkslateblue;
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    border: 1px solid orchid;
    border-radius: 30px;
    color: antiquewhite;
}

.button {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    margin-bottom: 100px;
    text-align: center;
}

#btn {
    border: 1px solid orchid;
    background-color: darkslateblue;
    color: antiquewhite;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
    border-radius: 30px;
    cursor: pointer;
}

#reset {
    border: 1px solid orchid;
    background-color: darkslateblue;
    color: antiquewhite;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    border-radius: 30px;
    cursor: pointer;
}

/* modal window */

/* .modal__window {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; */
    /* display: flex; */
    /* display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
}

.triangle__second {
    width: 0;
    height: 0;
    border-top: 330px solid white;
    border-right: 250px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 250px solid transparent;
    margin-top: 80px;
}

#found-button {
    margin-bottom: 110px;
}

#again-button {
    margin-top: 70px;
}

#found-button, #again-button {
    border: 1px solid orchid;
    background-color: darkslateblue;
    color: antiquewhite;
    height: 60px;
    width: 450px;
    text-align: center;
    font-size: 30px;
    border-radius: 15%;
}

.message-out {
    position: relative;
    top: -270px;
    left: -100px;
    width: 200px;
    color: #000;
    font-size: 30px;
} */

/* scale window */

.message-out {
    display: none;
    position: relative;
    top: -170px;
    left: -100px;
    width: 200px;
    color: #000;
    font-size: 20px;
}

@media(max-width:720px) {

    .triangle__second {
        width: 0;
        height: 0;
        border-top: 230px solid rgba(150, 190, 168, 0.904);
        border-right: 180px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 180px solid transparent;
        margin-top: 10px;
    }
    
    #found-button {
        margin-bottom: 110px;
    }
    
    #again-button {
        margin-top: 70px;
    }
    
    #found-button, #again-button {
        height: 50px;
        width: 400px;
        text-align: center;
        font-size: 25px;
    }
    
    .message-out {
        top: -180px;
        left: -100px;
        width: 200px;
        font-size: 20px;
    }
}

@media(max-width:420px) {

    #btn {
        margin-right: 20px;
        height: 30px;
        width: 120px;
        font-size: 15px;
    }

    #reset {
        margin-left: 20px;
        height: 30px;
        width: 120px;
        font-size: 15px;
    }

    #input {
        height: 30px;
        width: 300px;
        font-size: 20px;
    }

    .ball-style {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        margin-top: 100px;
    }
    
    #triangle{
        width: 0;
        height: 0;
        border-top: 170px solid rgba(150, 190, 168, 0.904);
        border-right: 120px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 120px solid transparent;
        margin-top: 100px;
        margin-left: 30px;
    } 
    
    img {
        display: flex;
        width: 150px;
        margin-top: -170px;
        margin-left: -75px;
        
    }

    .message-out {
        top: -150px;
        left: -100px;
        width: 200px;
        font-size: 15px;
    } 

    /* modal window */

    /* .triangle__second {
        width: 0;
        height: 0;
        border-top: 200px solid white;
        border-right: 150px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 150px solid transparent;
        margin-top: -130px;
    }
    
    #found-button {
        margin-bottom: 200px;
    }
    
    #again-button {
        margin-top: 150px;
    }
    
    #found-button, #again-button {
        height: 30px;
        width: 300px;
        text-align: center;
        font-size: 20px;
    }
    
    .message-out {
        top: -180px;
        left: -100px;
        width: 200px;
        font-size: 20px;
    } */
}

